body {
    background-color: #333333;
}
.right {
    float: right;
}
.greet {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-table;
    margin-top: 25vw;
    margin-left: 1vw;
}
.list {
    display: inline-flex;
    position: fixed;
    margin-left: 63vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0;
}
p{
    float: inline-end;
    margin: 5%;
    margin-top: 0;
    font-weight: bold;
    padding: 3%;
}
p:hover {
    background-color: #007bff;
    border-radius: 8%;
    font-weight: bold;
    padding: 3%;
}
button {
    border: none;
    text-decoration: none;
    background: none;
}