body {
    background-color: black;
}
header {
    color: aliceblue;
}
.head {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}
li {
    margin-left: 2%;
    list-style-type: none;
}
.greet {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-top: 20%;
    margin-left: 3%;
    font-size: 250%;
}
.btn {
    margin-top: 0%;
    margin-left: 35%;
}
.btn button {
    background-color: green;
    color: white;
    border: none;
    border-radius: none;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50%;
    font-weight: bold;
}
